.p-Home.body {
width: 990px;
height: 8767.470px;
}
.p-Home.navbar.w-nav {
width: 990px;
height: 81px;
text-align: center;
position: relative;
float: none;
}
.p-Home.wrapper.nav {
display: flex;
margin-left: 74px;
margin-right: 74px;
padding-top: ;
text-align: center;
box-sizing: border-box;
width: 841px;
height: 81px;
}
.p-Home.Flex90 {
display: flex;
width: 841.5px;
height: 41px;
padding-top: 38px;
margin-left: ;
margin-right: 74px;
}
.p-Home.Div332 {
width: 203px;
height: 41px;
}
.p-Home.Flex91 {
display: flex;
width: 49px;
height: 41px;
margin-left: 151px;
}
.p-Home.Div338 {
width: 38px;
height: 41px;
padding-left: ;
box-sizing: border-box;
padding-bottom: ;
padding-right: ;
margin-left: 38px;
margin-bottom: ;
margin-right: ;
}
.p-Home.Flex92 {
display: flex;
width: 105px;
height: 41px;
margin-left: 38px;
}
.p-Home.Div344 {
width: 13px;
height: 41px;
margin-left: 8px;
}
.p-Home.Div340 {
width: 92px;
height: 41px;
padding-left: ;
box-sizing: border-box;
padding-bottom: ;
padding-right: ;
margin-left: ;
margin-bottom: ;
margin-right: ;
}
.p-Home.Div337 {
width: 71px;
height: 41px;
padding-left: ;
box-sizing: border-box;
padding-bottom: ;
padding-right: ;
margin-left: 38px;
margin-bottom: ;
margin-right: ;
}
.p-Home.Div336 {
width: 70px;
height: 41px;
padding-left: ;
box-sizing: border-box;
padding-bottom: ;
padding-right: ;
margin-left: 38px;
margin-bottom: ;
margin-right: ;
}
.p-Home.Div334 {
width: 50px;
height: 41px;
padding-left: ;
box-sizing: border-box;
padding-bottom: ;
padding-right: ;
margin-left: ;
margin-bottom: ;
margin-right: ;
}
.p-Home.home-hero-section.wf-section {
width: 990px;
height: 874.500px;
}
.p-Home.home-hero-section.flex {
display: flex;
width: 841.500px;
height: 784.50px;
margin-left: 74px;
margin-right: 74px;
padding-top: 70px;
padding-bottom: 20px;
}
.p-Home.home-hero-content-wrapper {
width: 490.188px;
height: 634.500px;
padding-top: 100px;
padding-bottom: 100px;
margin-top: -50px;
}
.p-Home.home-hero-heading-wrapper {
width: 490px;
height: 500px;
}
.p-Home.Div34 {
width: 360px;
}
.p-Home.trusted-by-section_wf_section {
width: 990px;
height: 250.578px;
}
.p-Home.trusted-by-section.wflex {
width: 841px;
height: 90px;
margin-left: 74px;
margin-right: 74px;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.Flex12 {
display: flex;
width: 841px;
height: 30px;
margin-top: 40px;
}
.p-Home.Services {
width: 990px;
height: 896px;
box-sizing: border-box;
}
.p-Home.service-heading-and-subtext-wrapper {
width: 841px;
height: 272px;
margin-left: 74px;
margin-right: 74px;
margin-top: ;
padding-top: 80px;
padding-bottom: ;
}
.p-Home.Div41 {
width: 810px;
height: 118px;
margin-top: 20px;
margin-bottom: 110px;
}
.p-Home.services_grid_flex_fix {
display: flex;
width: 841px;
height: 463px;
margin-left: 74px;
margin-right: 74px;
}
.p-Home.Div43 {
width: 220px;
height: 463px;
}
.p-Home.service_wrapper_1 {
width: 70px;
height: 70px;
}
.p-Home.service-pointer-wrapper {
width: 220px;
height: 132px;
}
.p-Home.service-pointer-wrapper_flex {
display: flex;
width: 220px;
height: 28px;
margin-bottom: 10px;
}
.p-Home.Flex20 {
display: flex;
width: 220px;
height: 56px;
}
.p-Home.Flex21 {
display: flex;
width: 220px;
height: 28px;
margin-bottom: 10px;
}
.p-Home.Div64 {
width: 220px;
height: 463px;
margin-left: 90px;
}
.p-Home.Div62 {
width: 220px;
height: 132px;
}
.p-Home.Flex22 {
display: flex;
width: 220px;
height: 28px;
margin-bottom: 10px;
}
.p-Home.Flex24 {
display: flex;
width: 220px;
height: 28px;
margin-bottom: 10px;
}
.p-Home.Flex31 {
display: flex;
width: 220px;
height: 28px;
margin-bottom: 10px;
}
.p-Home.Div63 {
width: 70px;
height: 70px;
}
.p-Home.Div67 {
width: 220px;
height: 463px;
margin-left: 90px;
border-radius: 0px;
border-color: #000000;
}
.p-Home.Div66 {
width: 70px;
height: 70px;
}
.p-Home.Div71 {
width: 220px;
height: 132px;
}
.p-Home.Flex32 {
display: flex;
width: 220px;
height: 28px;
margin-bottom: 10px;
}
.p-Home.Flex33 {
display: flex;
width: 220px;
height: 28px;
margin-bottom: 10px;
}
.p-Home.Flex34 {
display: flex;
width: 220px;
height: 28px;
margin-bottom: 10px;
}
.p-Home.case-studies-section.wf-section {
width: 990px;
height: 856px;
}
.p-Home.studies-section.wf-section_>_div.wrapper.case-studies-heading {
display: flex;
width: 841px;
height: 162px;
padding-top: 80px;
margin-left: 74px;
margin-right: 74px;
}
.p-Home.case-studies-section.wf-section_>_div.wrapper.case-studies-heading {
width: 541px;
height: 162px;
}
.p-Home.Div78 {
margin-left: 102px;
}
.p-Home.Div79 {
width: 196px;
height: 58px;
margin-top: 50px;
}
.p-Home.wrapper.project-slider {
display: flex;
width: 841px;
height: 469px;
margin-left: 74px;
margin-right: 74px;
padding-top: 65px;
padding-bottom: 80px;
background-color: #fffdfd;
}
.p-Home.case-studies-section.wf-section_>_div.wrapper.project-slider_>_div {
display: flex;
width: 953px;
height: 469px;
}
.p-Home.w-slider-mask-0 {
width: 300px;
height: 469px;
border-color: #fffdfd;
}
.p-Home.Div84 {
width: 300px;
height: 140px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
box-sizing: border-box;
position: absolute;
border-color: #edeaea;
background-color: #ffffff;
}
.p-Home.Div88 {
width: 150px;
height: 25px;
margin-top: 10px;
margin-left: 30px;
position: absolute;
padding-left: 2px;
padding-bottom: 10px;
float: none;
}
.p-Home.Div97 {
width: 300px;
height: 469px;
margin-left: 5px;
}
.p-Home.Div96 {
width: 300px;
height: 140px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
box-sizing: border-box;
position: absolute;
background-color: #ffffff;
}
.p-Home.Div95 {
width: 150px;
height: 25px;
margin-top: 10px;
margin-left: 30px;
position: absolute;
padding-left: 2px;
padding-bottom: 10px;
float: none;
}
.p-Home.Div100 {
width: 300px;
height: 469px;
margin-left: 5px;
}
.p-Home.Div99 {
width: 300px;
height: 140px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
box-sizing: border-box;
position: absolute;
background-color: #ffffff;
}
.p-Home.Div98 {
width: 150px;
height: 25px;
margin-top: 10px;
margin-left: 30px;
position: absolute;
padding-left: 2px;
padding-bottom: 10px;
float: none;
}
.p-Home.blog-section.wf-section {
margin-top: -238px;
width: 990px;
height: 1512px;
padding-top: 200px;
background-color: #181818ff;
}
.p-Home.blog-section.wf-section_>_div {
display: flex;
width: 841px;
height: 1352px;
margin-left: 74px;
margin-right: 74px;
padding-top: 80px;
padding-bottom: 80px;
margin-bottom: 80px;
position: relative;
box-sizing: border-box;
}
.p-Home.blog-section.wf-section_>_div_>_div.blog-heading-and-subtext-wrapper {
width: 311px;
height: 213px;
padding-bottom: 140px;
top: 0;
position: sticky;
border-bottom-width: 0px;
border-bottom-color: #f3f3f3ff;
border-style: none;
}
.p-Home.Div105 {
width: 150px;
height: 25px;
margin-top: 10px;
margin-left: 0px;
position: absolute;
padding-left: 2px;
padding-bottom: 10px;
float: none;
}
.p-Home.div.blog-content-wrapper {
width: 479px;
height: 1312px;
margin-top: 40px;
}
.p-Home.Div107 {
width: 479px;
height: 1247px;
box-sizing: border-box;
}
.p-Home.Div108 {
width: 479.64px;
height: 204.79px;
box-sizing: border-box;
border-radius: 0px;
border-color: #000000;
border-bottom-width: 1px;
border-bottom-color: #ffffff;
border-bottom-style: solid;
}
.p-Home.Div110 {
width: 479.6px;
height: 173px;
padding-bottom: 30px;
margin-bottom: 65px;
border-color: #f6f4f4;
border-width: 0px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff;
box-sizing: border-box;
}
.p-Home.Div112 {
width: 200px;
height: 25px;
margin-top: 10px;
margin-left: 0px;
position: absolute;
padding-left: 2px;
padding-bottom: 10px;
float: none;
}
.p-Home.Div116 {
width: 479.64px;
height: 204.79px;
box-sizing: border-box;
border-radius: 0px;
border-color: #000000;
border-bottom-width: 1px;
border-bottom-color: #ffffff;
border-bottom-style: solid;
margin-top: 40px;
}
.p-Home.Div115 {
width: 479.6px;
height: 173px;
padding-bottom: 30px;
margin-bottom: 65px;
border-color: #f6f4f4;
border-width: 0px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff;
box-sizing: border-box;
}
.p-Home.Div114 {
width: 200px;
height: 25px;
margin-top: 10px;
margin-left: 0px;
position: absolute;
padding-left: 2px;
padding-bottom: 10px;
float: none;
}
.p-Home.Div119 {
width: 479.64px;
height: 204.79px;
box-sizing: border-box;
border-radius: 0px;
border-color: #000000;
border-bottom-width: 1px;
border-bottom-color: #ffffff;
border-bottom-style: solid;
margin-top: 40px;
}
.p-Home.Div118 {
width: 479.6px;
height: 173px;
padding-bottom: 30px;
margin-bottom: 65px;
border-color: #f6f4f4;
border-width: 0px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff;
box-sizing: border-box;
}
.p-Home.Div117 {
width: 200px;
height: 25px;
margin-top: 10px;
margin-left: 0px;
position: absolute;
padding-left: 2px;
padding-bottom: 10px;
float: none;
}
.p-Home.Div122 {
width: 479.64px;
height: 204.79px;
box-sizing: border-box;
border-radius: 0px;
border-color: #000000;
border-bottom-width: 1px;
border-bottom-color: #ffffff;
border-bottom-style: solid;
margin-top: 40px;
}
.p-Home.Div121 {
width: 479.6px;
height: 173px;
padding-bottom: 30px;
margin-bottom: 65px;
border-color: #f6f4f4;
border-width: 0px;
border-bottom-width: 0px;
border-bottom-style: solid;
border-bottom-color: #ffffff;
box-sizing: border-box;
}
.p-Home.Div120 {
width: 200px;
height: 25px;
margin-top: 10px;
margin-left: 0px;
position: absolute;
padding-left: 2px;
padding-bottom: 10px;
float: none;
}
.p-Home.Div125 {
width: 479.64px;
height: 204.79px;
box-sizing: border-box;
border-radius: 0px;
border-color: #000000;
border-bottom-width: 1px;
border-bottom-color: #ffffff;
border-bottom-style: solid;
margin-top: 40px;
}
.p-Home.Div124 {
width: 479.6px;
height: 173px;
padding-bottom: 30px;
margin-bottom: 65px;
border-color: #f6f4f4;
border-width: 0px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #ffffff;
box-sizing: border-box;
}
.p-Home.Div123 {
width: 200px;
height: 25px;
margin-top: 10px;
margin-left: 0px;
position: absolute;
padding-left: 2px;
padding-bottom: 10px;
float: none;
}
.p-Home.About_section {
width: 990px;
height: 868px;
}
.p-Home.Flex46 {
display: flex;
width: 841px;
height: 200px;
padding-top: 80px;
padding-bottom: 80px;
margin-left: 74px;
margin-right: 74px;
}
.p-Home.Div127 {
width: 408px;
height: 98px;
box-sizing: border-box;
}
.p-Home.Flex47 {
display: flex;
width: 841px;
height: 428px;
padding-bottom: 80px;
margin-left: 74px;
margin-right: 74px;
}
.p-Home.Div129 {
width: 231.281px;
height: 428.29px;
}
.p-Home.Div130 {
width: 346px;
height: 428px;
margin-left: 15px;
}
.p-Home.Div131 {
width: 231px;
height: 428px;
margin-left: 15px;
}
.p-Home.Div132 {
width: 231px;
height: 206px;
}
.p-Home.Div133 {
width: 231px;
height: 206px;
margin-top: 16px;
}
.p-Home.Div134 {
width: 990px;
height: 731px;
}
.p-Home.Flex48 {
display: flex;
width: 841.5px;
height: 571.7px;
margin-left: 74px;
margin-right: 74px;
padding-top: 80px;
padding-bottom: 80px;
}
.p-Home.Div137 {
width: 403.9px;
height: 571.7px;
}
.p-Home.Div139 {
width: 403.9px;
height: 36px;
margin-bottom: ;
padding-bottom: 80px;
}
.p-Home.Div140 {
width: 403px;
height: 420px;
}
.p-Home.Flex50 {
display: flex;
width: 403.9px;
height: 81.9px;
padding-bottom: 40px;
margin-bottom: 35px;
border-color: #757070ff;
border-bottom-color: #a39c9c;
border-bottom-style: solid;
border-bottom-width: 0px;
border-width: 0px;
border-style: none;
}
.p-Home.Div142 {
width: 238.9px;
height: 81.9px;
}
.p-Home.Flex51 {
display: flex;
width: 135px;
height: 81.9px;
margin-left: 30px;
}
.p-Home.Div143 {
width: 67.5px;
height: 81.9px;
}
.p-Home.Div145 {
width: 67.5px;
height: 81.9px;
}
.p-Home.Div149 {
width: 67.5px;
height: 40px;
}
.p-Home.Div147 {
width: 67.5px;
height: 81.9px;
}
.p-Home.Div150 {
width: 67.5px;
height: 40px;
}
.p-Home.Flex53 {
display: flex;
width: 403.9px;
height: 81.9px;
padding-bottom: 40px;
margin-bottom: 35px;
border-color: #757070;
border-bottom-color: #a39c9c;
border-bottom-style: solid;
border-bottom-width: 1px;
box-sizing: content-box;
}
.p-Home.Flex52 {
display: flex;
width: 135px;
height: 81.9px;
margin-left: 30px;
}
.p-Home.Div157 {
width: 67.5px;
height: 81.9px;
}
.p-Home.Div155 {
width: 67.5px;
height: 40px;
}
.p-Home.Div158 {
width: 67.5px;
height: 81.9px;
}
.p-Home.Div156 {
width: 67.5px;
height: 81.9px;
}
.p-Home.Div152 {
width: 67.5px;
height: 40px;
}
.p-Home.Div159 {
width: 238.9px;
height: 81.9px;
}
.p-Home.Flex55 {
display: flex;
width: 403.9px;
height: 90px;
padding-bottom: 40px;
margin-bottom: 35px;
border-color: #757070ff;
border-bottom-color: #a39c9c;
border-bottom-style: solid;
border-bottom-width: 1px;
}
.p-Home.Flex54 {
display: flex;
width: 135px;
height: 81.9px;
margin-left: 30px;
}
.p-Home.Div165 {
width: 67.5px;
height: 81.9px;
}
.p-Home.Div163 {
width: 67.5px;
height: 40px;
}
.p-Home.Div166 {
width: 67.5px;
height: 81.9px;
}
.p-Home.Div164 {
width: 67.5px;
height: 81.9px;
}
.p-Home.Div160 {
width: 67.5px;
height: 40px;
}
.p-Home.Div167 {
width: 238.9px;
height: 81.9px;
}
.p-Home.Div168 {
width: 403.9px;
height: 524.5px;
margin-left: 32px;
}
.p-Home.Div169 {
width: 403.9px;
height: 36px;
margin-bottom: ;
padding-bottom: 80px;
}
.p-Home.Flex56 {
display: flex;
width: 403.906px;
height: 30.1px;
padding-bottom: 75px;
margin-bottom: ;
border-bottom-color: #a39c9c;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.p-Home.Div172 {
width: 50px;
height: 50px;
}
.p-Home.Div173 {
width: 211.8px;
height: 61.1px;
margin-left: 10px;
}
.p-Home.Div182 {
width: 211px;
height: 26px;
padding-bottom: ;
margin-bottom: 14px;
}
.p-Home.Div183 {
width: 211px;
height: 20px;
}
.p-Home.Div174 {
height: 61.1px;
width: 150px;
}
.p-Home.Div180 {
width: 132px;
height: 25px;
}
.p-Home.Div181 {
height: 36.1px;
width: 150px;
}
.p-Home.Flex58 {
display: flex;
width: 403.906px;
height: 30.1px;
padding-bottom: 75px;
margin-bottom: ;
border-bottom-color: #757070ff;
border-bottom-width: 1px;
border-bottom-style: solid;
margin-top: 30px;
padding-top: 15px;
}
.p-Home.Div195 {
height: 61.1px;
width: 150px;
}
.p-Home.Div191 {
height: 36.1px;
width: 150px;
}
.p-Home.Div192 {
width: 132px;
height: 25px;
}
.p-Home.Div196 {
width: 211.8px;
height: 61.1px;
margin-left: 10px;
}
.p-Home.Div193 {
width: 211px;
height: 20px;
}
.p-Home.Div194 {
width: 211px;
height: 26px;
padding-bottom: ;
margin-bottom: 14px;
}
.p-Home.Div197 {
width: 50px;
height: 50px;
}
.p-Home.Flex59 {
display: flex;
width: 403.906px;
height: 30.1px;
padding-bottom: 75px;
margin-bottom: ;
border-bottom-color: #757070ff;
border-bottom-width: 1px;
border-bottom-style: solid;
margin-top: 30px;
padding-top: 15px;
}
.p-Home.Div202 {
width: 50px;
height: 50px;
}
.p-Home.Div203 {
width: 211.8px;
height: 61.1px;
margin-left: 10px;
}
.p-Home.Div198 {
width: 211px;
height: 26px;
padding-bottom: ;
margin-bottom: 14px;
}
.p-Home.Div199 {
width: 211px;
height: 20px;
}
.p-Home.Div204 {
height: 61.1px;
width: 150px;
}
.p-Home.Div200 {
width: 132px;
height: 25px;
}
.p-Home.Div201 {
height: 36.1px;
width: 150px;
}
.p-Home.testimonial_section {
width: 990px;
height: 945px;
box-sizing: border-box;
padding-top: 80px;
}
.p-Home.Div207 {
width: 841.5px;
height: 103.3px;
margin-left: 74px;
margin-right: 74px;
padding-top: ;
margin-top: ;
margin-bottom: 80px;
}
.p-Home.Flex62 {
display: flex;
width: 841.5px;
height: 521px;
margin-left: 74px;
margin-right: 74px;
padding-bottom: 160px;
}
.p-Home.Div213 {
width: 403.450px;
height: 521.7px;
}
.p-Home.Div214 {
width: 403px;
height: 521px;
margin-left: 36px;
}
.p-Home.Div215 {
width: 403px;
height: 71px;
}
.p-Home.Flex63 {
display: flex;
width: 403.5px;
height: 54px;
margin-top: 116px;
}
.p-Home.Div217 {
height: 48px;
width: 300px;
margin-top: 6px;
}
.p-Home.Div218 {
height: 54px;
width: 103.5px;
}
.p-Home.Flex64 {
display: flex;
width: 103.5px;
height: 54px;
}
.p-Home.Div219 {
width: 51.7px;
height: 54px;
box-sizing: border-box;
background-color: #221f1fff;
}
.p-Home.Div220 {
width: 51.7px;
height: 54px;
box-sizing: border-box;
background-color: #221f1fff;
}
.p-Home.faq_section {
width: 990px;
height: 905.7px;
background-color: #181818ff;
margin-top: ;
padding-top: 80px;
border-color: #000000;
}
.p-Home.Div224 {
width: 841px;
height: 103px;
margin-left: 74px;
margin-right: 74px;
margin-bottom: 120px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
}
.p-Home.Flex65 {
display: flex;
width: 841.5px;
height: 522.3px;
margin-left: 74px;
margin-right: 74px;
}
.p-Home.Div263 {
width: 403.9px;
height: 522px;
margin-left: 20px;
}
.p-Home.Div262 {
width: 403.9px;
height: 112.3px;
padding-bottom: ;
box-sizing: content-box;
margin-top: 25px;
border-bottom-color: #9b9090ff;
border-bottom-width: 1px;
border-bottom-style: none;
}
.p-Home.Flex77 {
display: flex;
width: 403.9px;
height: 62.37px;
margin-top: ;
padding-top: ;
}
.p-Home.Div257 {
width: 20.7px;
height: 62.3px;
}
.p-Home.Div258 {
width: 382.3px;
height: 62.3px;
}
.p-Home.Div266 {
width: 403.9px;
height: 112.3px;
padding-bottom: ;
box-sizing: content-box;
margin-top: 25px;
border-bottom-color: #9b9090ff;
border-bottom-width: 1px;
border-bottom-style: none;
}
.p-Home.Flex78 {
display: flex;
width: 403.9px;
height: 62.37px;
margin-top: ;
padding-top: ;
}
.p-Home.Div264 {
width: 382.3px;
height: 62.3px;
}
.p-Home.Div265 {
width: 20.7px;
height: 62.3px;
}
.p-Home.Div269 {
width: 403.9px;
height: 112.3px;
padding-bottom: ;
box-sizing: content-box;
margin-top: 25px;
border-bottom-color: #9b9090ff;
border-bottom-width: 1px;
border-bottom-style: none;
}
.p-Home.Flex79 {
display: flex;
width: 403.9px;
height: 62.37px;
margin-top: ;
padding-top: ;
}
.p-Home.Div267 {
width: 382.3px;
height: 62.3px;
}
.p-Home.Div268 {
width: 20.7px;
height: 62.3px;
}
.p-Home.Div272 {
width: 403.9px;
height: 112.3px;
padding-bottom: ;
box-sizing: content-box;
margin-top: 25px;
border-bottom-color: #9b9090ff;
border-bottom-width: 1px;
border-bottom-style: none;
}
.p-Home.Flex80 {
display: flex;
width: 403.9px;
height: 62.37px;
margin-top: ;
padding-top: ;
}
.p-Home.Div270 {
width: 382.3px;
height: 62.3px;
}
.p-Home.Div271 {
width: 20.7px;
height: 62.3px;
}
.p-Home.Div285 {
width: 403.9px;
height: 522px;
}
.p-Home.Div281 {
width: 403.9px;
height: 112.3px;
padding-bottom: ;
box-sizing: content-box;
margin-top: 25px;
border-bottom-color: #9b9090ff;
border-bottom-width: 1px;
border-bottom-style: none;
}
.p-Home.Flex81 {
display: flex;
width: 403.9px;
height: 62.37px;
margin-top: ;
padding-top: ;
}
.p-Home.Div273 {
width: 20.7px;
height: 62.3px;
}
.p-Home.Div274 {
width: 382.3px;
height: 62.3px;
}
.p-Home.Div282 {
width: 403.9px;
height: 112.3px;
padding-bottom: ;
box-sizing: content-box;
margin-top: 25px;
border-bottom-color: #9b9090ff;
border-bottom-width: 1px;
border-bottom-style: none;
}
.p-Home.Flex82 {
display: flex;
width: 403.9px;
height: 62.37px;
margin-top: ;
padding-top: ;
}
.p-Home.Div275 {
width: 20.7px;
height: 62.3px;
}
.p-Home.Div276 {
width: 382.3px;
height: 62.3px;
}
.p-Home.Div283 {
width: 403.9px;
height: 112.3px;
padding-bottom: ;
box-sizing: content-box;
margin-top: 25px;
border-bottom-color: #9b9090ff;
border-bottom-width: 1px;
border-bottom-style: none;
}
.p-Home.Flex83 {
display: flex;
width: 403.9px;
height: 62.37px;
margin-top: ;
padding-top: ;
}
.p-Home.Div277 {
width: 20.7px;
height: 62.3px;
}
.p-Home.Div278 {
width: 382.3px;
height: 62.3px;
}
.p-Home.Div284 {
width: 403.9px;
height: 112.3px;
padding-bottom: ;
box-sizing: content-box;
margin-top: 25px;
border-bottom-color: #9b9090ff;
border-bottom-width: 1px;
border-bottom-style: none;
}
.p-Home.Flex84 {
display: flex;
width: 403.9px;
height: 62.37px;
margin-top: ;
padding-top: ;
}
.p-Home.Div279 {
width: 382.3px;
height: 62.3px;
}
.p-Home.Div280 {
width: 20.7px;
height: 62.3px;
}
.p-Home.lets_talk {
width: 990px;
height: 845px;
background-color: #181818ff;
margin-top: ;
padding-top: 160px;
box-sizing: border-box;
}
.p-Home.Div288 {
width: 841.5px;
height: 621.95px;
margin-left: 74px;
margin-right: 74px;
margin-top: ;
padding-bottom: ;
margin-bottom: ;
box-sizing: border-box;
border-color: #333333;
}
.p-Home.Div291 {
width: 841.5px;
height: 201.17px;
}
.p-Home.Flex85 {
display: flex;
width: 841.5px;
height: 146px;
margin-top: 80px;
}
.p-Home.Div292 {
width: 336.5px;
height: 146px;
}
.p-Home.Div293 {
width: 203.28px;
height: 28px;
margin-bottom: 15px;
}
.p-Home.Div296 {
width: 336.5px;
height: 36px;
margin-top: ;
}
.p-Home.Div297 {
width: 336.5px;
height: 36px;
margin-top: 9px;
margin-bottom: ;
}
.p-Home.Flex88 {
display: flex;
width: 336.5px;
height: 28px;
}
.p-Home.Div298 {
width: 30px;
height: 28px;
}
.p-Home.Div299 {
width: 133.1px;
height: 28px;
}
.p-Home.Div300 {
width: 478.3px;
height: 134px;
}
.p-Home.Flex89 {
display: flex;
width: 478.3px;
height: 134px;
}
.p-Home.Div301 {
width: 159.43px;
height: 134px;
box-sizing: border-box;
}
.p-Home.Div313 {
width: 159.4px;
height: 44.66px;
}
.p-Home.Div316 {
width: 159.4px;
height: 44.66px;
}
.p-Home.Div326 {
width: 159.4px;
height: 44.66px;
}
.p-Home.Div319 {
width: 159.43px;
height: 134px;
box-sizing: border-box;
}
.p-Home.Div317 {
width: 159.4px;
height: 44.66px;
}
.p-Home.Div318 {
width: 159.4px;
height: 44.66px;
}
.p-Home.Div327 {
width: 159.4px;
height: 44.66px;
}
.p-Home.Div322 {
width: 159.43px;
height: 134px;
box-sizing: border-box;
}
.p-Home.Div320 {
width: 159.4px;
height: 44.66px;
}
.p-Home.Div321 {
width: 159.4px;
height: 44.66px;
}
.p-Home.Div328 {
width: 159.4px;
height: 44.66px;
}
.p-Home.Div331 {
height: 44px;
width: 841px;
margin-left: 74px;
}
.p-Home.Image87 {
width: 203px;
height: 28px;
margin-top: 8px;
}
.p-Home.TextBox161 {
width: 38px;
height: 28px;
margin-left: 0px;
margin-bottom: 10px;
margin-right: ;
margin-top: 13px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.Image90 {
margin-top: 18px;
}
.p-Home.TextBox163 {
width: 92px;
height: 28px;
margin-left: ;
margin-bottom: 10px;
margin-right: ;
margin-top: 13px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.TextBox160 {
width: 71px;
height: 28px;
margin-left: ;
margin-bottom: 10px;
margin-right: ;
margin-top: 13px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.TextBox159 {
width: 70px;
height: 28px;
margin-left: ;
margin-bottom: 10px;
margin-right: ;
margin-top: 13px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.TextBox158 {
width: 50px;
height: 28px;
margin-left: ;
margin-bottom: 10px;
margin-right: ;
margin-top: 13px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
}
.p-Home.Image4 {
width: 351.312px;
height: 418px;
margin-top: 235px;
}
.p-Home.TextBox7 {
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 22px;
width: 490px;
height: 99px;
color: #666666;
margin-top: 10px;
}
.p-Home.TextBox174 {
width: 320px;
height: 179.5px;
font-family: IBM Plex Sans;
text-align: left;
font-weight: 700;
font-size: 75px;
color: #ba4f4fff;
box-sizing: border-box;
}
.p-Home.TextBox175 {
width: 470px;
height: 290px;
margin-top: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 75px;
text-align: left;
box-sizing: border-box;
}
.p-Home.Button6 {
color: #fff;
background-color: #101010;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #0a0a0a;
cursor: pointer;
user-select: none;
width: 150px;
height: 50px;
font-family: IBM Plex Sans;
}
.p-Home.Link26 {
float: right;
font-family: IBM Plex Sans;
font-weight: 700;
background-position-x: ;
font-size: 20px;
padding-top: 9px;
padding-right: 1px;
}
.p-Home.trusted-by-text-wrapper {
width: 841px;
height: 20px;
box-sizing: border-box;
text-align: center;
padding-left: ;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 18px;
color: #333333;
position: sticky;
}
.p-Home.Image8 {
width: 135px;
height: 30px;
padding-left: 100px;
}
.p-Home.Image9 {
width: 135px;
height: 30px;
padding-left: 100px;
}
.p-Home.Image10 {
width: 135px;
height: 30px;
float: right;
padding-left: 100px;
}
.p-Home.Image11 {
width: 135px;
height: 30px;
}
.p-Home.TextBox15 {
width: 810px;
height: 24px;
border-color: #eeeeee;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
color: #ba4f4fff;
text-align: center;
margin-left: 15px;
}
.p-Home.TextBox14 {
width: 810px;
height: 118px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 48px;
text-align: center;
margin-left: 15px;
}
.p-Home.TextBox16 {
width: 220px;
height: 52px;
margin-top: 42px;
margin-bottom: 20px;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.TextBox17 {
width: 187px;
height: 112px;
margin-bottom: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #666666;
}
.p-Home.Image12 {
;
}
.p-Home.Image18 {
width: 8px;
height: 8px;
margin-top: 7px;
}
.p-Home.service-pointer-trigger-text-wrapper_ {
margin-left: 10px;
width: 200px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox26 {
margin-left: 10px;
width: 200px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image19 {
width: 8px;
height: 8px;
margin-top: 7px;
}
.p-Home.TextBox27 {
margin-left: 10px;
width: 200px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image20 {
width: 8px;
height: 8px;
margin-top: 7px;
}
.p-Home.TextBox31 {
width: 187px;
height: 112px;
margin-bottom: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #666666;
}
.p-Home.TextBox32 {
width: 220px;
height: 52px;
margin-top: 42px;
margin-bottom: 20px;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image21 {
width: 8px;
height: 8px;
margin-top: 7px;
}
.p-Home.TextBox28 {
margin-left: 10px;
width: 200px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox30 {
margin-left: 10px;
width: 200px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image23 {
width: 8px;
height: 8px;
margin-top: 7px;
}
.p-Home.TextBox43 {
margin-left: 10px;
width: 200px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image33 {
width: 8px;
height: 8px;
margin-top: 7px;
}
.p-Home.Image24 {
;
}
.p-Home.TextBox36 {
width: 187px;
height: 112px;
margin-bottom: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #666666;
}
.p-Home.TextBox37 {
width: 220px;
height: 52px;
margin-top: 42px;
margin-bottom: 20px;
box-sizing: border-box;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-Home.Image28 {
;
}
.p-Home.Image34 {
width: 8px;
height: 8px;
margin-top: 7px;
}
.p-Home.TextBox44 {
margin-left: 10px;
width: 200px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image35 {
width: 8px;
height: 8px;
margin-top: 7px;
}
.p-Home.TextBox45 {
margin-left: 10px;
width: 200px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.TextBox46 {
margin-left: 10px;
width: 200px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 16px;
}
.p-Home.Image36 {
width: 8px;
height: 8px;
margin-top: 7px;
}
.p-Home.TextBox48 {
width: 541px;
height: 24px;
font-family: IBM Plex Sans;
font-size: 20px;
border-color: #000000;
color: #ba4f4f;
font-weight: 700;
}
.p-Home.TextBox49 {
width: 541px;
height: 59px;
margin-top: 20px;
font-family: IBM Plex Sans;
font-size: 48px;
text-align: left;
font-weight: 700;
}
.p-Home.TextBox50 {
width: 541px;
height: 59px;
margin-top: 0px;
font-family: IBM Plex Sans;
font-size: 48px;
text-align: left;
font-weight: 700;
}
.p-Home.Button7 {
color: #fff;
background-color: #101010;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-right: 0px;
font-size: 20px;
border-radius: 2px;
outline: none;
font-weight: 500;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #0a0a0a;
cursor: pointer;
user-select: none;
width: 196px;
height: 58px;
font-family: IBM Plex Sans;
}
.p-Home.Image37 {
width: 300px;
height: 320px;
}
.p-Home.TextBox54 {
width: 240px;
height: 20px;
margin-top: 30px;
margin-left: 30px;
margin-bottom: 15px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #ba4f4f;
}
.p-Home.TextBox55 {
width: 240px;
height: 26px;
margin-left: 30px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 700;
margin-bottom: 10px;
margin-top: 10px;
}
.p-Home.Link29 {
float: left;
width: 109px;
height: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
position: static;
}
.p-Home.Image40 {
width: 300px;
height: 320px;
}
.p-Home.TextBox60 {
width: 240px;
height: 26px;
margin-left: 30px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 700;
margin-bottom: 10px;
margin-top: 10px;
}
.p-Home.TextBox61 {
width: 240px;
height: 20px;
margin-top: 30px;
margin-left: 30px;
margin-bottom: 15px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #ba4f4f;
}
.p-Home.Link32 {
float: left;
width: 109px;
height: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
position: static;
}
.p-Home.Image41 {
width: 300px;
height: 320px;
}
.p-Home.TextBox62 {
width: 240px;
height: 26px;
margin-left: 30px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 700;
margin-bottom: 10px;
margin-top: 10px;
}
.p-Home.TextBox63 {
width: 240px;
height: 20px;
margin-top: 30px;
margin-left: 30px;
margin-bottom: 15px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #ba4f4f;
}
.p-Home.Link33 {
float: left;
width: 109px;
height: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
position: static;
}
.p-Home.TextBox64 {
width: 311px;
height: 24px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
color: #df6f6fff;
margin-top: 20px;
}
.p-Home.TextBox65 {
width: 250px;
height: 118px;
margin-bottom: 20px;
box-sizing: border-box;
font-size: 50px;
color: #ffffff;
text-align: left;
font-family: IBM Plex Sans;
font-weight: 700;
margin-top: 20px;
}
.p-Home.Link34 {
float: left;
width: 75px;
height: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
position: static;
color: #f8f8f8;
}
.p-Home.TextBox66 {
width: 200px;
height: 20px;
font-family: IBM Plex Sans;
box-sizing: border-box;
font-size: 18px;
font-weight: 500;
color: #b9b3b3;
margin-bottom: 30px;
}
.p-Home.TextBox67 {
width: 431px;
height: 72px;
margin-top: ;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-size: 28px;
color: #ffffff;
font-weight: 700;
}
.p-Home.Link36 {
float: left;
width: 150px;
height: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
position: static;
color: #f8f8f8;
}
.p-Home.TextBox68 {
width: 431px;
height: 72px;
margin-top: ;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-size: 28px;
color: #ffffff;
font-weight: 700;
}
.p-Home.TextBox69 {
width: 200px;
height: 20px;
font-family: IBM Plex Sans;
box-sizing: border-box;
font-size: 18px;
font-weight: 500;
color: #b9b3b3;
margin-bottom: 30px;
}
.p-Home.Link37 {
float: left;
width: 150px;
height: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
position: static;
color: #f8f8f8;
}
.p-Home.TextBox70 {
width: 200px;
height: 20px;
font-family: IBM Plex Sans;
box-sizing: border-box;
font-size: 18px;
font-weight: 500;
color: #b9b3b3;
margin-bottom: 30px;
}
.p-Home.TextBox71 {
width: 431px;
height: 72px;
margin-top: ;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-size: 28px;
color: #ffffff;
font-weight: 700;
}
.p-Home.Link38 {
float: left;
width: 150px;
height: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
position: static;
color: #f8f8f8;
}
.p-Home.TextBox72 {
width: 200px;
height: 20px;
font-family: IBM Plex Sans;
box-sizing: border-box;
font-size: 18px;
font-weight: 500;
color: #b9b3b3;
margin-bottom: 30px;
}
.p-Home.TextBox73 {
width: 431px;
height: 72px;
margin-top: ;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-size: 28px;
color: #ffffff;
font-weight: 700;
}
.p-Home.Link39 {
float: left;
width: 150px;
height: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
position: static;
color: #f8f8f8;
}
.p-Home.TextBox74 {
width: 200px;
height: 20px;
font-family: IBM Plex Sans;
box-sizing: border-box;
font-size: 18px;
font-weight: 500;
color: #b9b3b3;
margin-bottom: 30px;
}
.p-Home.TextBox75 {
width: 431px;
height: 72px;
margin-top: ;
margin-bottom: 20px;
font-family: IBM Plex Sans;
font-size: 28px;
color: #ffffff;
font-weight: 700;
}
.p-Home.Link40 {
float: left;
width: 150px;
height: 25px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
position: static;
color: #f8f8f8;
}
.p-Home.TextBox78 {
width: 432px;
height: 200px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 26px;
color: #666666;
}
.p-Home.TextBox76 {
width: 408px;
height: 24px;
margin-bottom: ;
padding-bottom: 0px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22px;
color: #df6f6fff;
}
.p-Home.TextBox77 {
width: 408px;
height: 59px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
margin-top: 15px;
}
.p-Home.Image42 {
width: 231px;
height: 428px;
}
.p-Home.Image43 {
width: 346px;
height: 428px;
}
.p-Home.Image44 {
width: 231px;
height: 206px;
}
.p-Home.Image45 {
width: 231px;
height: 206px;
}
.p-Home.TextBox80 {
font-family: IBM Plex Sans;
font-size: 36px;
font-weight: 600;
}
.p-Home.TextBox81 {
width: 238.9px;
height: 26.39px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 500;
}
.p-Home.TextBox82 {
width: 238.9px;
height: 41.59px;
margin-top: 10px;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: ;
border-color: #c33e3e;
color: #6f6464ff;
}
.p-Home.TextBox83 {
width: 67.5px;
height: 40px;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 500;
color: #6f6464ff;
margin-top: 40px;
}
.p-Home.Image46 {
width: 25px;
height: 25px;
float: right;
}
.p-Home.Image47 {
width: 25px;
height: 25px;
float: right;
}
.p-Home.TextBox84 {
width: 67.5px;
height: 40px;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 500;
color: #6f6464ff;
margin-top: 40px;
}
.p-Home.TextBox85 {
width: 238.9px;
height: 41.59px;
margin-top: 10px;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: ;
border-color: #c33e3e;
color: #6f6464ff;
}
.p-Home.TextBox86 {
width: 238.9px;
height: 26.39px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 500;
}
.p-Home.Image48 {
width: 25px;
height: 25px;
float: right;
}
.p-Home.TextBox87 {
width: 67.5px;
height: 40px;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 500;
color: #6f6464ff;
margin-top: 40px;
}
.p-Home.TextBox88 {
width: 238.9px;
height: 41.59px;
margin-top: 15px;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: ;
border-color: #c33e3e;
color: #6f6464ff;
}
.p-Home.TextBox89 {
width: 238.9px;
height: 52px;
font-family: IBM Plex Sans;
font-size: 24px;
font-weight: 500;
}
.p-Home.TextBox90 {
width: 403.9px;
height: 36px;
font-family: IBM Plex Sans;
font-size: 36px;
font-weight: 700;
}
.p-Home.Image49 {
width: 50px;
height: 50px;
}
.p-Home.TextBox91 {
width: 125px;
height: 26px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
}
.p-Home.TextBox92 {
width: 211.8px;
height: 20.7px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #6f6464ff;
}
.p-Home.Image51 {
width: 25px;
height: 25px;
float: right;
}
.p-Home.TextBox93 {
width: 100px;
height: 41px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #6f6464ff;
float: none;
margin-left: 25px;
}
.p-Home.TextBox97 {
width: 100px;
height: 41px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #6f6464ff;
float: none;
margin-left: 25px;
}
.p-Home.Image54 {
width: 25px;
height: 25px;
float: right;
}
.p-Home.TextBox98 {
width: 211.8px;
height: 20.7px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #6f6464ff;
}
.p-Home.TextBox99 {
width: 125px;
height: 26px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
}
.p-Home.Image55 {
width: 50px;
height: 50px;
}
.p-Home.Image57 {
width: 50px;
height: 50px;
}
.p-Home.TextBox100 {
width: 125px;
height: 26px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 24px;
}
.p-Home.TextBox101 {
width: 211.8px;
height: 20.7px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #6f6464ff;
}
.p-Home.Image56 {
width: 25px;
height: 25px;
float: right;
}
.p-Home.TextBox102 {
width: 100px;
height: 41px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 16px;
color: #6f6464ff;
float: none;
margin-left: 25px;
}
.p-Home.TextBox103 {
width: 209.6px;
height: 24px;
font-family: IBM Plex Sans;
font-weight: normal;
font-size: 20px;
color: #df6f6fff;
}
.p-Home.TextBox104 {
width: 498.1px;
height: 59.3px;
margin-top: 20px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 54px;
}
.p-Home.Image62 {
width: 403.9px;
height: 450px;
margin-top: 72px;
box-sizing: border-box;
background-color: #433939;
}
.p-Home.TextBox105 {
width: 403.9px;
height: 280.7px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 36px;
}
.p-Home.Image63 {
width: 45px;
height: 45px;
box-sizing: border-box;
}
.p-Home.TextBox106 {
width: 300px;
height: 20px;
margin-bottom: ;
padding-bottom: 8px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22px;
}
.p-Home.TextBox107 {
width: 193px;
height: 23px;
font-family: IBM Plex Sans;
font-weight: 500;
font-size: 18px;
color: #6f6464ff;
}
.p-Home.Image64 {
width: 8px;
height: 13px;
margin-left: 21px;
margin-top: 20px;
}
.p-Home.Image65 {
width: 8px;
height: 13px;
margin-left: 21px;
margin-top: 20px;
}
.p-Home.TextBox110 {
width: 58px;
height: 22px;
box-sizing: border-box;
align-self: auto;
margin-left: 391px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 22px;
color: #df6f6fff;
}
.p-Home.TextBox111 {
width: 733.2px;
height: 59.3px;
margin-top: 20px;
margin-left: 54px;
color: #ffffff;
}
.p-Home.Image77 {
width: 20.7px;
height: 25px;
margin-top: 12px;
}
.p-Home.TextBox124 {
width: 382.37px;
height: 62px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox125 {
width: 382.37px;
height: 62px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image78 {
width: 20.7px;
height: 25px;
margin-top: 12px;
}
.p-Home.TextBox126 {
width: 382.37px;
height: 62px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image79 {
width: 20.7px;
height: 25px;
margin-top: 12px;
}
.p-Home.TextBox127 {
width: 382.37px;
height: 62px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image80 {
width: 20.7px;
height: 25px;
margin-top: 12px;
}
.p-Home.Image81 {
width: 20.7px;
height: 25px;
margin-top: 12px;
}
.p-Home.TextBox128 {
width: 382.37px;
height: 62px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image82 {
width: 20.7px;
height: 25px;
margin-top: 12px;
}
.p-Home.TextBox129 {
width: 382.37px;
height: 62px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image83 {
width: 20.7px;
height: 25px;
margin-top: 12px;
}
.p-Home.TextBox130 {
width: 382.37px;
height: 62px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
color: #ffffff;
}
.p-Home.TextBox131 {
width: 382.37px;
height: 62px;
font-family: IBM Plex Sans;
font-weight: 600;
font-size: 24px;
color: #ffffff;
}
.p-Home.Image84 {
width: 20.7px;
height: 25px;
margin-top: 12px;
}
.p-Home.TextBox132 {
width: 841.50px;
height: 118.78px;
margin-bottom: 10px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 52px;
color: #faf3f3;
}
.p-Home.TextBox133 {
width: 459.56px;
height: 72px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 52px;
color: #df6f6fff;
}
.p-Home.Image85 {
width: 203px;
height: 28px;
}
.p-Home.TextBox134 {
width: 336.59px;
height: 28px;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 500;
color: #6f6464ff;
margin-bottom: 9px;
box-sizing: border-box;
}
.p-Home.Image86 {
width: 30px;
height: 28px;
}
.p-Home.TextBox136 {
width: 133.1px;
height: 28px;
margin-left: 10px;
font-family: IBM Plex Sans;
color: #6f6464ff;
}
.p-Home.TextBox144 {
width: 130px;
float: right;
height: 18px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #fffefe;
}
.p-Home.TextBox147 {
width: 130px;
float: right;
height: 18px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #fffefe;
}
.p-Home.TextBox154 {
width: 130px;
float: right;
height: 18px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #fffefe;
}
.p-Home.TextBox148 {
width: 130px;
float: right;
height: 18px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #fffefe;
}
.p-Home.TextBox149 {
width: 130px;
float: right;
height: 18px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #fffefe;
}
.p-Home.TextBox155 {
width: 130px;
float: right;
height: 18px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #fffefe;
}
.p-Home.TextBox150 {
width: 130px;
float: right;
height: 18px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #fffefe;
}
.p-Home.TextBox151 {
width: 130px;
float: right;
height: 18px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #fffefe;
}
.p-Home.TextBox156 {
width: 130px;
float: right;
height: 18px;
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 18px;
color: #fffefe;
}
.p-Home.TextBox157 {
width: 841px;
height: 44px;
font-family: IBM Plex Sans;
font-size: 16px;
font-weight: 500;
color: #8e8ebc;
}
